.main{
    height:95vh;
    flex-direction:column;
    display:flex;

}
.top{
    margin-bottom:auto;
}
.bottom, .top{
    display:flex;
    width:100%;
    gap:10px;
}

.first-item{
    margin-right:auto;
}