
.main{
    height:95vh;
    flex-direction:column;
    display:flex;

}
.top{
    margin-bottom:auto;
}
.bottom, .top{
    display:flex;

    gap:20px;
    margin-right:25px;
}

.first-item{
    margin-right:auto;
}

.title{
    font-size:48px;
}

.navbar{
    margin-top:30px;
    gap:20px;
}